@if (clienteService.clienteSeleccionado()) {

<div class="p-4">

    <!-- CARD -->
    <div class="rounded-3xl border border-slate-200 bg-white shadow-sm p-5">

        <!-- HEADER -->
        <div class="flex items-center gap-4">

            <!-- AVATAR -->
            <div class="w-12 h-12 rounded-2xl bg-slate-100 border border-slate-200
               flex items-center justify-center shrink-0">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M20 21C20 19.6044 20 18.9067 19.8278 18.3389C19.44 17.0605 18.4395 16.06 17.1611 15.6722C16.5933 15.5 15.8956 15.5 14.5 15.5H9.5C8.10444 15.5 7.40665 15.5 6.83886 15.6722C5.56045 16.06 4.56004 17.0605 4.17224 18.3389C4 18.9067 4 19.6044 4 21M16.5 7.5C16.5 9.98528 14.4853 12 12 12C9.51472 12 7.5 9.98528 7.5 7.5C7.5 5.01472 9.51472 3 12 3C14.4853 3 16.5 5.01472 16.5 7.5Z"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>

            <!-- INFO -->
            <div class="min-w-0 flex flex-col">

                <!-- NOMBRE -->
                <a href="#" class="font-medium hover:underline">
                    <h2 class="text-sm font-semibold text-slate-800 leading-tight break-words">
                        {{ clienteService.clienteSeleccionado().nombre_1 }}
                        {{ clienteService.clienteSeleccionado().nombre_2 }}
                        {{ clienteService.clienteSeleccionado().apellido_1 }}
                        {{ clienteService.clienteSeleccionado().apellido_2 }}
                    </h2>
                </a>
                <!-- DOCUMENTO -->
                <p class="mt-1 text-xs text-slate-500">
                    {{ clienteService.clienteSeleccionado().tipo_documento }} {{
                    clienteService.clienteSeleccionado().documento }}
                </p>

            </div>

        </div>

        <!-- DETALLES -->
        <div class="mt-5 flex flex-col gap-3">

            <div class="rounded-2xl border border-slate-200 bg-slate-50 px-4 py-3">
                <p class="text-[11px] uppercase tracking-wide text-slate-400">
                    Telefono
                </p>

                <p class="mt-1 text-sm font-medium text-slate-700">
                    +{{ clienteService.clienteSeleccionado().prefijo }}
                    {{ clienteService.clienteSeleccionado().telefono }}
                </p>
            </div>

        </div>

    </div>

</div>

} @else {
<div class="h-full flex items-center justify-center p-4">
    <h2 class="text-center text-slate-500">
        Selecciona una factura
    </h2>
</div>
}